.application-page {
    min-height: var(--full-height);
    display: flex;
    gap: 2rem;
}
.application {
    padding-top: 0;
}
.application > div {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.application h1 {
    font-size: var(--h3);
    margin-bottom: 0.5rem;
    font-family: var(--choice-font-reg);
}
.application header span {
    font-size: var(--p1);
}
.application form {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    overflow-x: hidden;
}
.application form > div {
    flex: calc(50% - 1rem);
}
.application form .terms > p:first-of-type{
    margin-top: -0.5rem;
}
.application form > .text-area {
    flex: 100%
}
.application .form-actions {
    flex: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.application .form-actions button {
    padding: 0.7rem 1rem;
    font-family: var(--font-family);
    font-size: var(--p4);
    border-radius: 0.3rem;
    border: none;
    outline: none;
    background-color: var(--primary-color);
}
.application .form-actions .back {
    padding: 0.7rem 1.7rem;
}
.application-page > .spinner {
    min-height: 20rem;
    max-width: 50rem;
}
.application-page .form-actions .spinner {
    min-height: fit-content;
    width: fit-content;
    height: fit-content;
    margin-right: 1rem;
}
.application-page .form-actions .spinner p {
    display: none;
}


@media screen and (max-width: 720px) {
    .application-page {
        gap: 0rem;
    }
    .application form {
        gap: 1rem;
    }
}