.application-progess {
    /* width: 20rem; */
    max-width: 20rem;
    min-width: max-content;
    height: var(--full-height);
    position: relative;
    left: 0;
    padding: 2rem;
}
.app-stage {
    margin-bottom: 0.5rem;
    opacity: 0.7;
    color: var(--text-color);
}
.app-stage .item {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.app-stage .item > div:first-of-type {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: var(--p1);
}
.app-stage .dots {
    width: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
.app-stage .dots > div {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--text-color);
}
.app-stage:last-of-type .dots {
    display: none;
}

/* Completed styling */
.completed-stage {
    opacity: 1;
    color: var(--text-color);
}
.completed-stage .item > div:first-of-type {
    background-color: var(--text-color);
}

/* Active styling */
.active-stage {
    opacity: 1;
    color: var(--primary-color);
}
.active-stage .item > div:first-of-type {
    background-color: var(--primary-color);
}

